* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: rgb(204, 157, 248);
}

main {
  background: white;
  width: 500px;
  margin: auto;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.lado {
  float: right;
  width: 20%;
}

img.voltar {
  float: left;
  width: 10%;
}